.container {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  color: black;
}

.segment {
  width: 80%;
}

.login {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.loginButton {
  border: 2px solid rgba(0,0,0,0.5) !important;
  width: 30%;
  background-color: white !important;
  margin: 10px !important;
}

.loginButton:hover {
  background-color: rgba(0,0,0,0.2) !important;
}

.button {
  width: 30%;
  margin: 10px !important;
}

.input {
  width: 60%;
  margin: 10px !important;
}

.form {
  display: flex;
  flex-flow: column;
  margin-top: 50px;
  width: 80%;
}

.submit {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.divider {
  position: relative;
  align-self: center;
  margin: 0 auto;
  width: 60%;
}

.spinner {
  display: flex !important;
  flex-flow: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.modalHeader {
  text-align: center;
}

.segment {
  padding-top: 20px;
}

.checkbox {
  padding: 5px;
}