.appContent {
  height: auto;
  background-color: rgba(78, 78, 80, 0.1);
}

.content {
  padding: 100px 0 100px 0;
  transition-property: margin-left, margin-right;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}