.app {
  width: 100%;
  text-align: center;
  color: white;
}

.appContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.AppHeader {
  background-color: #222;
  height: 50px;
  color: white;
}

.AppTitle {
  font-size: 1.5em;
}

.AppIntro {
  font-size: large;
}

.main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  width: 80%;
}

@keyframes AppLogoSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
