.title {
  font-family: 'Dosis', sans-serif;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 37px;
  letter-spacing: 3px;
}

.logo {
  height: 30px;
  padding: 0 5px 0 30px;
}